<div class="titulo">
  <h1 class="dados">Dados</h1>

<form action="" method="post">

  <div id="formulario-a">

    <div id="info">
      <label for="dados">Nome</label>
      <input [(ngModel)]="nutricionista.name" id="value" cols="40" rows="1" placeholder="Nome Completo" class="name" mat-input/>
    </div>

    <div id="info">
      <label for="dados">Especialidade</label>
      <input [(ngModel)]="nutricionista.speciality" id="spec" cols="30" rows="1" class="especialidade" placeholder="Especialidade" mat-input/>
    </div>

  </div>

  <div id="formulario-b">

    <div id="info">
      <label for="dados">Matrícula</label>
      <input [(ngModel)]="nutricionista.registration" id="mat" cols="30" rows="1" class="matricula" placeholder="Matrícula" mat-input/>
    </div>
  </div>

  <h1 class= "t2">Planos</h1>

  <div class="planos">

    <div class="pvida">
      <input type="checkbox" [(ngModel)]="nutricionista.healthPlan" id="plano-vida" mat-input/>
      <label for="plano-vida" class="nome-plano">Plano Vida</label>
    </div>

    <div class="hsaude">
      <input type="checkbox" [(ngModel)]="nutricionista.healthPlan" id="hap-saude" mat-input/>
      <label for="hap-saude" class="nome-plano">Hap Saúde</label>
    </div>

    <div class="umais">
      <input type="checkbox" [(ngModel)]="nutricionista.healthPlan" id="ut-mais" mat-input/>
      <label for="ut-mais" class="nome-plano">Ut Mais</label>
    </div>

  </div>

  <div class="cadastrar" >
    <button id="botao-cadastrar" (click)="create()">Cadastrar</button>
  </div>

</form>

</div>
