h1{
  font-family: philosopher, sans-serif;
  color: rgb(14, 175, 105);
  font-size: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}

#formulario-a{
  display: flex;
  margin-top: 3%;
  margin-left: 15%;
  align-items: center;
  justify-content: space-between;
}


#value{
  border-color: #3bceac;
  border-radius: 3px;
  padding-left: 1%;
  padding-right: 1%;
  margin-top: 1%;

}

#info{
  padding-left: 1%;
  padding-right: 1%;
  display: flex;
  flex-direction: column;
  width: 500px;

}
.name{
  color: #ff2e00;
  display: flexbox;
  width: 300px;
  height: 20px;
  border-color: #3bceac;
}

.especialidade{
  width: 200px;
  height: 20px;
  border-color: #3bceac;
  color: #ff2e00;
  display: flexbox;

}

.matricula{
  width: 200px;
  height: 20px;
  color: #ff2e00;
  border-color: #3bceac;
  display: flexbox;

}

label{
  font-family: 'philosopher', sans-serif;
  color: #ff2e00;
  font-size: medium;
  display: flex;
}

.planos{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;

}

.nome-plano{
  padding-right: 80px;
  font-size: 25px;
  color: #008bf8;
}

select:focus{
  outline-color: #0ead69;
}

textarea:focus{
  outline-color: #0ead69;
}


::-webkit-input-placeholder{
  color: #ff2e00;
  font-family: 'ubuntu', serif;
  font-size: 14px;
  padding-top: 1px;
  padding-left: 10px;
}

#botao-cadastrar{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  font-size: 20px;
  color: white;
  background-color: #0ead69;
  font-family: 'philosopher', sans-serif;
  border-radius: 5px;
  border-color: #3bceac;
}

.cadastrar{
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#botao-cadastrar:hover{
  background-color: #08814d;
  transition: 500ms;
}

textarea{
  resize: none;
}

input:focus{
  outline-color: #0ead69;

}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;

}
