<div class="titulo">
  <h1 class="dados">Dados</h1>

<form action="" method="post">

  <div id="formulario-a">

    <div id="info">
      <label for="dados">Nome</label>
      <input [(ngModel)]="nutricionista.name" name="name" id="value" cols="40" rows="1" placeholder="Nome Completo" class="name" mat-input/>
    </div>

    <div id="info">
      <label for="dados">Matrícula</label>
      <input [(ngModel)]="nutricionista.registration" name= "registration" id="mat" cols="30" rows="1" class="matricula" placeholder="Matrícula" mat-input/>
    </div>

  </div>

  <div id="formulario-b">

    <div id="info">
      <label for="dados">Especialidade</label>
      <input [(ngModel)]="nutricionista.speciality" name= "speciality" id="spec" class="especialidade" placeholder="Especialidade" mat-input/>
    </div>

    <div id="info">
      <label for="dados">Idade</label>
      <input [(ngModel)]="nutricionista.age" type="number" name="age" class="idade" placeholder="Idade" mat-input>
    </div>
  </div>

  <h1 class= "t2">Planos</h1>

  <div class="planos">

    <mat-form-field>
      <mat-label>Planos</mat-label>
      <mat-select [formControl]="toppings" [(ngModel)]="nutricionista.healthPlan" multiple>
        <mat-select-trigger>
          {{toppings.value ? toppings.value[0] : ''}}
          <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
            (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <div class="cadastrar" >
    <button id="botao-cadastrar" (click)="create()">Cadastrar</button>
  </div>

</form>

</div>
