
<img src="../../../assets/logo.jpg" width="300" height="300" class="logo">


<h1>Bem vindo ao NutriTec!</h1>
<br>
<h3>Na NutriTec você pode agendar consultas, cadastrar pacientes, cadastrar nutricionistas e muito mais., venha fazer parte da maior rede de nutricionistas do país.</h3>
<br>
<h3>
  Chega de usar planilhas, na NutriTec ver relações de pacientes, nutricionistas e consultas é muito simples! Oferecemos atendimento para pacientes com os planos UT Mais, Hap Saúde e Plano Vida. Não tem plano de saúde? Sem problemas, nossos nutricionistas conveniados vão te atender por um valor acessível exclusivo para consultas marcadas em nosso site.
</h3>
