.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1{
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  color: #3bceac;
  font: 'philosopher', sans-serif;

}
h3{
  text-align: center;
  font-family: 'ubuntu', sans-serif;
  font-size: medium;
  margin-left: 10%;
  margin-right: 10%;
  color: #268a72;
}
