<div class="titulo"><h1 class="dados">Dados</h1></div>

<form action="post">
  <div id="form-a">
    <div id="info">
      <label for="dados">Nome</label>
      <input [(ngModel)]="paciente.name" name="name" id="value" cols="40" rows="1" placeholder="Nome Completo" class="name">
    </div>

    <div id="info">
      <label for="dados">Idade</label>
      <input [(ngModel)]="paciente.age" name="age" type="number" name="age" class="idade" placeholder="Idade" mat-input>
    </div>
  </div>
  <div id="form-b">

    <div id="info">
      <label for="dados">Peso</label>
      <input [(ngModel)]="paciente.weight" name="weight"id="" cols="30" rows="1" placeholder="Peso" class="peso">
    </div>

    <div id="info">
      <label for="dados">Altura</label>
      <input [(ngModel)]="paciente.height" name="height" id="" cols="30" rows="1" placeholder="Altura" class="altura">
    </div>
    <div id="info">
      <label for="dados">CPF</label>
      <input [(ngModel)]="paciente.cpf" name="cpf" id="" cols="30" rows="1"placeholder = "CPF" class="cpf">
    </div>

    <div id="info">
      <label for="dados">Plano</label>
        <select [(ngModel)]="paciente.healthPlan" name="healthPlan" class="plano">
          <option value="particular">Particular</option>
          <option value="plano-vida">Plano Vida</option>
          <option value="hap-saude">Hap Saúde</option>
          <option value="ut-mais">Ut Mais</option>
        </select>
    </div>
  </div>
  <div class="atualizar" >
    <button id="botao-atualizar" (click)="update()">Atualizar</button>
  </div>

</form>
