h1{
  font-family: philosopher, sans-serif;
  color: rgb(14, 175, 105);
  font-size: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}

#formulario-a{
  display: flex;
  margin-top: 3%;
  margin-left: 15%;
  align-items: center;
  justify-content: space-between;
}

#formulario-b{
  display: flex;
  margin-top: 2%;
  margin-left: 20%;
  margin-right: 5%;

  align-items: center;
  justify-content: space-between;

}

#value{
  border-color: #3bceac;
  border-radius: 3px;
  padding-left: 1%;
  padding-right: 1%;
  margin-top: 1%;

}

#info{
  padding-left: 1%;
  padding-right: 1%;
  display: flex;
  flex-direction: column;
  width: 500px;

}
.name{
  color: #ff2e00;
  display: flexbox;
  width: 500px;
  height: 20px;
}

.date{
  color:#ff2e00;
  border-color: #3bceac;
  background-color: white;
  display: flexbox;
  width: 300px;

}

.especialidade{
  width: 200px;
  height: 20px;
  border-color: #3bceac;
  color: #ff2e00;
  display: flexbox;
  margin-right: 20%;

}

.matricula{
  width: 200px;
  height: 20px;
  color: #ff2e00;
  border-color: #3bceac;
  display: flexbox;

}

label{
  font-family: 'philosopher', sans-serif;
  color: #ff2e00;
  font-size: medium;
}

.planos{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

input[type=checkbox]{
  display: none;
}

.nome-plano{
  padding-right: 80px;
  font-size: 25px;
  color: #008bf8;
}
.pvida input + label:before{
  content: '';
  width: 18px;
  height: 18px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid red;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 3px;
  margin-right: 8px;
}

.pvida input:checked + label::before{
  border: 1px solid lime;
  background-color: limegreen;
}

.hsaude input + label:before{
  content: '';
  width: 18px;
  height: 18px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid red;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 3px;
  margin-right: 8px;
}

.hsaude input:checked + label::before{
  border: 1px solid lime;
  background-color: limegreen;
}

.umais input + label:before{
  content: '';
  width: 18px;
  height: 18px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid red;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 3px;
  margin-right: 8px;
}

.umais input:checked + label::before{
  border: 1px solid lime;
  background-color: limegreen;
}

#botao-editar{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  font-size: 20px;
  color: white;
  background-color: #0ead69;
  font-family: 'philosopher', sans-serif;
  border-radius: 5px;
  border-color: #3bceac;
}

#botao-editar:hover{
  background-color: #08814d;
  transform-origin: center;
  transition: 500ms;
}

.atualizar{
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

::-webkit-input-placeholder{
  color: #ff2e00;
  font-family: 'ubuntu', serif;
  font-size: 12px;
}
