<style>
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&family=Philosopher&family=Ubuntu:wght@300&display=swap');
  </style>

<mat-toolbar id="toolbar">
  <button mat-icon-button [matMenuTriggerFor]="menu" class="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon id= "icone">person</mat-icon>
      <span>Paciente</span>
    </button>
    <button mat-menu-item>
      <mat-icon id= "icone">local_hospital</mat-icon>
      <span>Nutricionista</span>
    </button>
    <button mat-menu-item>
      <mat-icon id="icone">timeline</mat-icon>
      <span> Dashboard</span>
    </button>
  </mat-menu>

  <span><a href=""><img src="../assets/logo-nutritec.png" id= "logo"></a></span>
  <span class="example-spacer"></span>

  <button mat-icon-button class="consulta">
    <a href="">
      Consulta
    </a>
  </button>
</mat-toolbar>
