<div class="titulo">
  <h1>Nutricionistas</h1>
</div>
<br>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Name Column -->
    <ng-container matColumnDef="plano">
      <th mat-header-cell *matHeaderCellDef> Plano </th>
      <td mat-cell *matCellDef="let element"> {{element.plano}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="nutricionista">
      <th mat-header-cell *matHeaderCellDef> Nutricionista </th>
      <td mat-cell *matCellDef="let element"> {{element.nutricionista}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="especialidade">
      <th mat-header-cell *matHeaderCellDef> Especialidade </th>
      <td mat-cell *matCellDef="let element"> {{element.especialidade}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
<br>
