<div class="titulo">
  <h1>Nutricionistas</h1>
</div>

<br>
  <table mat-table  class="mat-elevation-z8" [dataSource]="nutricionistas">

    <ng-container matColumnDef="healthPlan">
      <th mat-header-cell *matHeaderCellDef> Plano </th>
      <td mat-cell *matCellDef="let row"> {{row.healthPlan}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nutricionista </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <ng-container matColumnDef="speciality">
      <th mat-header-cell *matHeaderCellDef> Especialidade </th>
      <td mat-cell *matCellDef="let row"> {{row.speciality}} </td>
    </ng-container>

    <ng-container matColumnDef="registration">
      <th mat-header-cell *matHeaderCellDef> Matricula </th>
      <td mat-cell *matCellDef="let row"> {{row.registration}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
<br>
