<div class="titulo">
  <h1>Pacientes</h1>
</div>
<br>
  <table mat-table class="mat-elevation-z8" [dataSource]="pacientes">

    <ng-container matColumnDef="healthPlan">
      <th mat-header-cell *matHeaderCellDef> Plano </th>
      <td mat-cell *matCellDef="let row"> {{row.healthPlan}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Paciente </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <ng-container matColumnDef="CPF">
      <th mat-header-cell *matHeaderCellDef> CPF </th>
      <td mat-cell *matCellDef="let row"> {{row.CPF}} </td>
    </ng-container>

    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef> Idade </th>
      <td mat-cell *matCellDef="let row"> {{row.age}} </td>
    </ng-container>

    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Peso </th>
      <td mat-cell *matCellDef="let row"> {{row.weight}} </td>
    </ng-container>

    <ng-container matColumnDef="height">
      <th mat-header-cell *matHeaderCellDef> Altura </th>
      <td mat-cell *matCellDef="let row"> {{row.height}} </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
<br>
