table {
  border-radius: 8px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
}

.titulo{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
}

h1{
  color: #3bceac;
  font-size: 35px;
  font-family: 'philosopher', sans-serif;
}
