h1{
  margin-top: 4%;
  text-align: center;
  font-size: 41px;
  color: #0ead69;
  font-family: 'philosopher', sans-serif;
}

h2{
  padding: 14px;
  text-align: center;
  color: #31a389;
  font-family: 'josefin-slab', serif;
  font-size: 23px;
}

img{
  margin-top: 3%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 160px;
  width: 160px;
}

.buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 500px;
  margin-right: 500px;
  margin-top: 5%;
  transform: scale(1.6);
}

#add{
  background-color: #0ead69;

}

#edit{
  background-color:  #008bf8;
}

#delete{
  background-color: #ff2e00;
}

#add:hover{
  background-color: #08814d;

}

#edit:hover{
  background-color: #0562aa;
}

#delete:hover{
  background-color: #9e2004;

}
